:root {
    --black: #333;
    --black100: #F7F7F9;
    --black200: #ebeef1;
    --black250: #DBE0E4;
    --black300: #C3CBD1;
    --black400: #9AA4AF;
    --black500: #758592;
    --black600: #57646F;
    --black700: #44515C;
    --black800: #34414D;
    --black900: #202D37;

    --white: #fff;
    --white100: #dbdcd8;

    --blue : #5383e8;
    --blue100: #ECF2FF;
    --blue200: #D5E3FF;
    --blue300: #B3CDFF;
    --blue400: #81ACFF;
    --blue500: #5383E8;
    --blue600: #4171D6;
    --blue700: #2F5EC0;
    --blue800: #2F436E;
    --blue900: #28344E;

    --red100: #FFF1F3;
    --red200: #FFD8D9;
    --red300: #FFBAC3;
    --red400: #FF6C81;
    --red500: #E84057;
    --red600: #D31A45;
    --red700: #B61337;
    --red800: #703C47;
    --red900: #59343B;

    --green : #05E45F;
    
    --mint : #29D9BF;

    /* 폰트 셋팅 */
    font-family: var(--font-arita), var(--font-noto), var(--font-gmarket);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트 최적화 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* @media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
} */