:root {
    --black: #000;
    --black100: #F7F7F9;
    --black200: #ebeef1;
    --black250: #DBE0E4;
    --black300: #C3CBD1;
    --black400: #9AA4AF;
    --black500: #758592;
    --black600: #57646F;
    --black700: #44515C;
    --black800: #34414D;
    --black900: #202D37;

    --white: #fff;
    --white100: #dbdcd8;

    --blue : #5383e8;
    --blue100 : #4171D6;

    --green : #05E45F;
    
    --mint : #29D9BF;

    /* 폰트 셋팅 */
    font-family: var(--font-arita), var(--font-noto), var(--font-gmarket);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트 최적화 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}