#header {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    border-bottom: 1px solid var(--blue100);
}
#header .container {
    display: flex;
    align-items: center;
}

#header .logo {
    font-size: 1rem;
    font-weight: bold;
}

#header .nav {
    display: flex;
}