.user {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.user__left {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.15);
}

.user > .user__left .user__basic {
  width: 100%;
  background-color: var(--white);
}
.user > .user__left .user__maxdivision ul {
  display: flex;
}

.user > .user__left .user__maxdivision li {
  padding: 3px 5px;
  margin-right: 5px;
  font-size: 12px;
  color: var(--black400);
  background-color: var(--black200);
  position: relative;
}

.user > .user__left .user__maxdivision li:hover .maxdivision__point {
  display: inline-block;
}

.user__right {
  flex-basis: 69%;
  background-color: var(--white);;
}

.user__right > .user__matchType ul {
  display: flex;
  padding: 4px;
}

.user__right > .user__matchType li {
  margin-right: 4px;
  padding: 4px 12px;
  color: var(--black400);
  cursor: pointer;
  border-radius: 4px;
}

.user__right > .user__matchType li:last-child {
  margin-right: 0;
}

.user__right > .user__matchType li:hover,
.user__right > .user__matchType li.active {
  color: var(--blue);
  background-color: var(--blue200)
}

.user__right > .user__match li {
  width: 100%;
  height: 100px;
  background-color: var(--white);
  margin-bottom: 10px;
}
